<ul class="sharer">
  <li><a href="#" class="facebook" target="_blank"><i class="icon icon--facebook"></i></a></li>
  <li><a href="#" class="twitter" target="_blank"><i class="icon icon--twitter"></i></a></li>
  <li><a href="#" class="linkedin" target="_blank"><i class="icon icon--linkedin"></i></a></li>
  <li><a href="#" class="email" target="_blank"><i class="icon icon--envelop"></i></a></li>
</ul>
