{{#card}}
<div class="card">
  <div class="card__header">
    <a href="{{ href }}" class="card__image lazyload" data-sizes="auto" style="background-image: url({{ image }})"></a>
  </div>
  <ul class="card__tags">
    {{# tags }}
      <li><a href="{{ href }}">{{ text }}</a></li>
    {{/ tags }}
  </ul>
  <div class="card__body">
    {{{ body }}}
  </div>
  <div class="card__footer">
    {{{ footer }}}
  </div>
</div>
{{/card}}
