<div class="page-header">
  <div class="page-header__image lazyload" data-sizes="auto" data-bgset="{{ page-header.image.640 }} 640w, {{ page-header.image.1024 }} 1024w, {{ page-header.image.1920 }} 1920w"></div>
  <div class="page-header__body">
    <h1>{{ page-header.title }}</h1>
  </div>
</div>
