<div class="jumbotron {{ styleModifier }} {{#jumbotron.image}} lazyload{{/jumbotron.image}}" {{#jumbotron.image}} data-sizes="auto" data-bgset="{{ jumbotron.image.640 }} 640w, {{ jumbotron.image.1024 }} 1024w, {{ jumbotron.image.1920 }} 1920w" {{/jumbotron.image}}>
  <div class="jumbotron__body">
    <div class="jumbotron__body__wrapper">
      {{#jumbotron.breadcrumb}}
        {{> molecules-breadcrumb }}
      {{/jumbotron.breadcrumb}}

      <h1>{{ jumbotron.title }}</h1>
      <p>{{ jumbotron.text }}</p>

      {{# jumbotron.cta }}
        {{>atoms-button }}
      {{/ jumbotron.cta }}
    </div>
  </div>
</div>
