<div class="jumbotron">
  <div class="jumbotron__body">
    <div class="jumbotron__body__wrapper">
      {{> molecules-breadcrumb }}
      <h1>{{ jumbotron.title }}</h1>
      <p>{{ jumbotron.text }}</p>
    </div>
  </div>
</div>
