<div class="jumbotron {{ styleModifier }} {{#jumbotron.image}} lazyload{{/jumbotron.image}}" {{#jumbotron.image}} data-size="auto" style="background-image: url({{ jumbotron.image }})"{{/jumbotron.image}}>
  <div class="jumbotron__body">
    <div class="jumbotron__body__wrapper">
      {{#jumbotron.breadcrumb}}
        {{> molecules-breadcrumb }}
      {{/jumbotron.breadcrumb}}

      <h1>{{ jumbotron.title }}</h1>
      <p>{{ jumbotron.text }}</p>

      {{# jumbotron.cta }}
        {{>atoms-button }}
      {{/ jumbotron.cta }}
    </div>
  </div>
</div>
