<a href="{{ product.href }}" class="product">
  <span class="product__image" style="background-image: url({{ product.image }})"></span>
  <span class="product__title">{{ product.name }}</span>
  <span class="product__price">{{ product.price }}</span>
</a>
