<a href="{{ product.href }}" class="product">
  <img src="{{ product.image }}" alt="" class="product__image">
  <span class="product__title">{{ product.name }}</span>
  <span class="product__price">{{ product.price }}</span>
</a>
