{{>organisms-header}}

{{>molecules-page-header }}

<div class="post">
  <header class="post__header">
    <div class="post__header__wrapper">
      <div class="post__header__inner">
        {{>molecules-breadcrumb}}
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
      </div>
    </div>
  </header>

  <aside class="post__aside">
    <div class="post__aside__wrapper">
      <div class="post__aside__inner">
        {{>molecules-nav-group}}
        {{>atoms-button-cta}}
      </div>
    </div>
  </aside>

  <article class="post__body">
    <section class="section section--offset" data-type="text">
      <div class="section__wrapper">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        <h3>Lorem ipsum dolor sit</h3>
        <p>Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        <h3>Nam pulvinar nibh pretium faucibus</h3>
        <p>Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia et, optio quo quasi cupiditate dolorum, eveniet, nihil enim, ipsam officiis voluptate adipisci ex. Consequuntur dolorum facere commodi minus beatae, neque.</blockquote>
      </div>
    </section>

    <section class="section section--offset" data-type="preview">
      <div class="section__wrapper">
        {{>molecules-preview}}
      </div>
    </section>

    <section class="section section--aside" data-type="panel">
      <div class="section__wrapper">
        {{>molecules-panel}}
      </div>
    </section>

    <section class="section section--offset" data-type="text">
      <div class="section__wrapper">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum ullam aliquam amet, voluptates tempora laboriosam eaque aperiam, nobis libero odit fugit accusamus corrupti reiciendis aut eum accusantium fugiat distinctio.</span><span>Voluptatum reiciendis tenetur expedita ipsam aut dignissimos, qui molestiae commodi dolores quod consequatur fugiat autem ab! Rerum, vero libero a. Iste voluptate suscipit nulla eligendi quisquam ipsa ipsum tenetur perspiciatis!</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatem quibusdam in officia saepe. Sed at molestiae labore, praesentium nobis suscipit, explicabo nostrum ad quidem voluptatum commodi corporis debitis natus.</p>
      </div>
    </section>

    <section class="section section--full" data-type="image">
      <div class="section__wrapper">
        <figure>
          {{>atoms-img-fullscreen}}
          <figcaption><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur a in officiis reiciendis laborum iste cupiditate incidunt minus, similique, eum doloribus voluptate eaque eligendi placeat vitae quasi, iure sequi ratione.</span></figcaption>
        </figure>
      </div>
    </section>

    <section class="section section--offset" data-type="text">
      <div class="section__wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum ullam aliquam amet, voluptates tempora laboriosam eaque aperiam, nobis libero odit fugit accusamus corrupti reiciendis aut eum accusantium fugiat distinctio.</span><span>Voluptatum reiciendis tenetur expedita ipsam aut dignissimos, qui molestiae commodi dolores quod consequatur fugiat autem ab! Rerum, vero libero a. Iste voluptate suscipit nulla eligendi quisquam ipsa ipsum tenetur perspiciatis!</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatem quibusdam in officia saepe. Sed at molestiae labore, praesentium nobis suscipit, explicabo nostrum ad quidem voluptatum commodi corporis debitis natus.</p>
      </div>
    </section>

    <section class="section section--offset" data-type="preview">
      <div class="section__wrapper">
        {{>molecules-preview}}
      </div>
    </section>

    <section class="section section--offset" data-type="text">
      <div class="section__wrapper">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum ullam aliquam amet, voluptates tempora laboriosam eaque aperiam, nobis libero odit fugit accusamus corrupti reiciendis aut eum accusantium fugiat distinctio.</span><span>Voluptatum reiciendis tenetur expedita ipsam aut dignissimos, qui molestiae commodi dolores quod consequatur fugiat autem ab! Rerum, vero libero a. Iste voluptate suscipit nulla eligendi quisquam ipsa ipsum tenetur perspiciatis!</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatem quibusdam in officia saepe. Sed at molestiae labore, praesentium nobis suscipit, explicabo nostrum ad quidem voluptatum commodi corporis debitis natus.</p>
      </div>
    </section>

    <section class="section section--fluid" data-type="media">
      <div class="section__wrapper">
        {{> organisms-media-list:media-list--default media-list--dark }}
      </div>
    </section>

    <section class="section section--offset" data-type="text">
      <div class="section__wrapper">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        </ul>
      </div>
    </section>

    <section class="section section--full section--light" data-type="carousel">
      <div class="section__wrapper">
        {{> organisms-card-carousel }}
      </div>
    </section>

    <section class="section section--default" data-type="text">
      <div class="section__wrapper">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
      </div>
    </section>

    <section class="section section--default" data-type="media">
      <div class="section__wrapper">
        {{> organisms-media-list:media-list--default media-list--dark media-list--small }}
      </div>
    </section>

    <section class="section section--full section--light" data-type="carousel">
      <div class="section__wrapper">
        {{> organisms-product-carousel }}
      </div>
    </section>
  </article>
</div>

{{>organisms-footer}}
