{{>organisms-header}}

{{>molecules-page-header}}

<main>
  <aside class="aside"></aside>

  <article class="article">
    <header>
      {{>molecules-breadcrumb}}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reiciendis facilis repellendus iure incidunt sint quis reprehenderit, minima recusandae atque ducimus blanditiis aliquam hic, officia laborum illum maiores, quasi vitae.</p>
    </header>

    <section>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
      <h3>Lorem ipsum dolor sit</h3>
      <p>Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
      <h3>Nam pulvinar nibh pretium faucibus</h3>
      <p>Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
      <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia et, optio quo quasi cupiditate dolorum, eveniet, nihil enim, ipsam officiis voluptate adipisci ex. Consequuntur dolorum facere commodi minus beatae, neque.</blockquote>
    </section>

    <section>{{>molecules-preview}}</section>

    <section>{{>organisms-aside-text}}</section>

    <section>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum ullam aliquam amet, voluptates tempora laboriosam eaque aperiam, nobis libero odit fugit accusamus corrupti reiciendis aut eum accusantium fugiat distinctio.</span><span>Voluptatum reiciendis tenetur expedita ipsam aut dignissimos, qui molestiae commodi dolores quod consequatur fugiat autem ab! Rerum, vero libero a. Iste voluptate suscipit nulla eligendi quisquam ipsa ipsum tenetur perspiciatis!</span></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatem quibusdam in officia saepe. Sed at molestiae labore, praesentium nobis suscipit, explicabo nostrum ad quidem voluptatum commodi corporis debitis natus.</p>
    </section>

    <section>
      <figure>
        {{>atoms-img-fullscreen}}
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur a in officiis reiciendis laborum iste cupiditate incidunt minus, similique, eum doloribus voluptate eaque eligendi placeat vitae quasi, iure sequi ratione.</figcaption>
      </figure>
    </section>

    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum ullam aliquam amet, voluptates tempora laboriosam eaque aperiam, nobis libero odit fugit accusamus corrupti reiciendis aut eum accusantium fugiat distinctio.</span><span>Voluptatum reiciendis tenetur expedita ipsam aut dignissimos, qui molestiae commodi dolores quod consequatur fugiat autem ab! Rerum, vero libero a. Iste voluptate suscipit nulla eligendi quisquam ipsa ipsum tenetur perspiciatis!</span></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatem quibusdam in officia saepe. Sed at molestiae labore, praesentium nobis suscipit, explicabo nostrum ad quidem voluptatum commodi corporis debitis natus.</p>
    </section>

    <section>{{>molecules-preview}}</section>

    <section>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum ullam aliquam amet, voluptates tempora laboriosam eaque aperiam, nobis libero odit fugit accusamus corrupti reiciendis aut eum accusantium fugiat distinctio.</span><span>Voluptatum reiciendis tenetur expedita ipsam aut dignissimos, qui molestiae commodi dolores quod consequatur fugiat autem ab! Rerum, vero libero a. Iste voluptate suscipit nulla eligendi quisquam ipsa ipsum tenetur perspiciatis!</span></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatem quibusdam in officia saepe. Sed at molestiae labore, praesentium nobis suscipit, explicabo nostrum ad quidem voluptatum commodi corporis debitis natus.</p>
    </section>

    <section>
      {{> organisms-media-list:media-list--default }}
    </section>

    <section>
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
      </ul>
    </section>

    <section>
      {{> organisms-card-carousel }}
    </section>

    <section>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
    </section>

    <section>
      {{> organisms-media-list:media-list--default media-list--small }}
    </section>

    <section>
      {{> organisms-product-carousel }}
    </section>
  </article>
</main>


{{>organisms-footer}}
