{{>organisms-header}}

<main role="main" class="main-container">
  {{>molecules-page-header }}

  <div class="post">
    <header class="post__header">
      <div class="post__header__wrapper">
        <div class="post__header__inner">
          {{>molecules-breadcrumb}}
          <h1>Lorem ipsum dolor sit amet</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        </div>
      </div>
    </header>

    <aside class="post__aside">
      <div class="post__aside__wrapper">
        <div class="post__aside__inner">
          {{>molecules-nav-group}}
          {{>atoms-button-cta}}
          {{>molecules-panel}}
          {{>molecules-panel:panel--dark}}
        </div>
      </div>
    </aside>

    <article class="post__body">
      {{>organisms-section-text:section--offset}}

      {{#section-preview}}
        {{>organisms-section-preview:section--offset}}
      {{/section-preview}}

      {{>organisms-section-panel:section--aside}}
      {{>organisms-section-text:section--offset}}
      {{>organisms-section-card-carousel:section--full section--light}}
      {{>organisms-section-map:section--full}}
    </article>
  </div>
</main>

{{>organisms-footer}}
