{{>organisms-header}}

<main role="main" class="main-container">
  {{>molecules-page-header }}

  <div class="post">
    <header class="post__header">
      <div class="post__header__wrapper">
        <div class="post__header__inner">
          {{>molecules-breadcrumb}}
          <h1>Lorem ipsum dolor sit amet</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        </div>
      </div>
    </header>

    <aside class="post__aside">
      <div class="post__aside__wrapper">
        <div class="post__aside__inner">
          {{>molecules-nav-group}}
          {{>atoms-button-cta}}
          {{>molecules-panel}}
          {{>molecules-panel:panel--dark}}
        </div>
      </div>
    </aside>

    <div class="post__sharer">
      {{>molecules-sharer}}
    </div>

    <article class="post__body">
      <section class="section section--offset" data-type="text">
        <div class="section__wrapper">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quam nostrum explicabo!</h2>
          {{> organisms-contacts-form }}
        </div>
      </section>
    </article>
  </div>
</main>

{{>organisms-footer}}
