{{>organisms-header}}

{{>molecules-jumbotron}}

<div class="section section--fluid">
  <div class="section-wrapper">
    {{>organisms-filter-form}}
    {{>organisms-card-list }}
  </div>
</div>

{{>organisms-footer}}
