{{>organisms-header}}

<main role="main" class="main-container">
  <div class="post">
    <header class="post__header">
      <div class="post__header__wrapper">
        <div class="post__header__inner">
          {{>molecules-breadcrumb}}
          <h1>Lorem ipsum dolor sit amet</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Suspendisse posuere neque et eros cursus varius. Mauris interdum leo vitae massa hendrerit, vitae gravida mi congue. Etiam imperdiet non risus sit amet consectetur.</p>
        </div>
      </div>
    </header>

    <aside class="post__aside">
      <div class="post__aside__wrapper">
        <div class="post__aside__inner">
          {{#side-panel}}
            {{>molecules-panel}}
          {{/side-panel}}

          {{#button-register}}
            {{>atoms-button-cta}}
          {{/button-register}}

          {{#button-calendar}}
            {{>atoms-button-cta}}
          {{/button-calendar}}
        </div>
      </div>
    </aside>

    <div class="post__sharer">
      {{>molecules-sharer}}
    </div>

    <article class="post__body post__body--offsets">
      {{>organisms-section-text}}
      {{>organisms-section-preview}}
      {{>organisms-section-card-carousel:section--full section--light}}
    </article>
  </div>
</main>

{{>organisms-footer}}
