{{>organisms-header}}

<main role="main" class="main-container">
  {{#jumbo}}
    {{>molecules-jumbotron}}
  {{/jumbo}}
  {{>organisms-section-card-carousel:section--full}}
</main>

{{>organisms-footer}}
