@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('@{icomoon-font-path}/icomoon.eot?dp5rr8');
  src:  url('@{icomoon-font-path}/icomoon.eot?dp5rr8#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/icomoon.ttf?dp5rr8') format('truetype'),
    url('@{icomoon-font-path}/icomoon.woff?dp5rr8') format('woff'),
    url('@{icomoon-font-path}/icomoon.svg?dp5rr8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--home {
  &:before {
    content: @icon--home;
  }
}
.icon--camera {
  &:before {
    content: @icon--camera;
  }
}
.icon--mail {
  &:before {
    content: @icon--mail;
  }
}
.icon--gift {
  &:before {
    content: @icon--gift;
  }
}
.icon--link {
  &:before {
    content: @icon--link;
  }
}
.icon--play {
  &:before {
    content: @icon--play;
  }
}
.icon--arrow-triangle-up {
  &:before {
    content: @icon--arrow-triangle-up;
  }
}
.icon--arrow-right {
  &:before {
    content: @icon--arrow-right;
  }
}
.icon--arrow-left {
  &:before {
    content: @icon--arrow-left;
  }
}
.icon--facebook {
  &:before {
    content: @icon--facebook;
  }
}
.icon--twitter {
  &:before {
    content: @icon--twitter;
  }
}
.icon--linkedin {
  &:before {
    content: @icon--linkedin;
  }
}
.icon--arrow-triangle-right {
  &:before {
    content: @icon--arrow-triangle-right;
  }
}
.icon--arrow-triangle-down {
  &:before {
    content: @icon--arrow-triangle-down;
  }
}
.icon--arrow-triangle-left {
  &:before {
    content: @icon--arrow-triangle-left;
  }
}
.icon--arrow-up {
  &:before {
    content: @icon--arrow-up;
  }
}
.icon--arrow-down {
  &:before {
    content: @icon--arrow-down;
  }
}

