@icomoon-font-path: "fonts";

@icon--home: "\e901";
@icon--pencil: "\e90e";
@icon--brush: "\e928";
@icon--camera: "\e945";
@icon--music: "\e94e";
@icon--mic: "\e98f";
@icon--book: "\e993";
@icon--reading: "\e997";
@icon--library: "\e999";
@icon--file-download: "\e9a5";
@icon--price-tag: "\e9ee";
@icon--theater: "\e9fb";
@icon--cart: "\e9ff";
@icon--cart-2: "\ea00";
@icon--phone: "\ea1c";
@icon--phone2: "\ea1d";
@icon--at-sign: "\ea2f";
@icon--envelop: "\ea33";
@icon--pushpin: "\ea36";
@icon--location: "\ea38";
@icon--printer: "\ea69";
@icon--box: "\ea84";
@icon--undo: "\eabf";
@icon--redo: "\eac0";
@icon--bubbles4: "\eac9";
@icon--user: "\eb08";
@icon--user-2: "\eb09";
@icon--search: "\eb36";
@icon--zoom-in: "\eb38";
@icon--zoom-out: "\eb39";
@icon--enlarge: "\eb3c";
@icon--shrink: "\eb3d";
@icon--key: "\eb4a";
@icon--lock: "\eb53";
@icon--unlocked: "\eb54";
@icon--wrench: "\eb5a";
@icon--equalizer: "\eb5b";
@icon--cog: "\eb5f";
@icon--bug: "\eb79";
@icon--crown: "\eba5";
@icon--trophy: "\eba7";
@icon--gift: "\ebac";
@icon--spoon-knife: "\ebbc";
@icon--bin: "\ebfd";
@icon--list: "\ec59";
@icon--grid: "\ec5d";
@icon--grid-2: "\ec62";
@icon--download: "\ec83";
@icon--upload: "\ec84";
@icon--link: "\ec99";
@icon--unlink: "\ec9a";
@icon--eye: "\ecae";
@icon--star-empty: "\ece3";
@icon--star-full: "\ece5";
@icon--heart-full: "\ecef";
@icon--heart-empty: "\ecf0";
@icon--drag-left-right: "\ed32";
@icon--drag-left: "\ed33";
@icon--drag-right: "\ed34";
@icon--plus: "\ed5b";
@icon--minus: "\ed5c";
@icon--cross: "\ed6c";
@icon--checkmark: "\ed6f";
@icon--play: "\ed85";
@icon--pause: "\ed86";
@icon--stop: "\ed87";
@icon--volume-high: "\ed8f";
@icon--volume-mute: "\ed95";
@icon--arrow-up: "\edb9";
@icon--arrow-right: "\edbd";
@icon--arrow-down: "\edc1";
@icon--arrow-left: "\edc5";
@icon--arrow-up8: "\eddc";
@icon--arrow-right8: "\edde";
@icon--arrow-down8: "\ede0";
@icon--arrow-left8: "\ede2";
@icon--radio-checked: "\ee72";
@icon--radio-unchecked: "\ee73";
@icon--google: "\eee7";
@icon--google-plus: "\eeea";
@icon--google-drive: "\eeee";
@icon--facebook: "\eef0";
@icon--instagram: "\eef1";
@icon--whatsapp: "\eef2";
@icon--twitter: "\eef5";
@icon--rss: "\eefb";
@icon--youtube: "\eefc";
@icon--vimeo: "\eeff";
@icon--flickr: "\ef03";
@icon--dropbox: "\ef0d";
@icon--skype: "\ef24";
@icon--linkedin: "\ef29";
@icon--pinterest: "\ef30";
@icon--paypal: "\ef37";

