<header class="header">
  <div class="header__main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="logo">
            <img src="../../img/logo.svg" alt="">
          </a>
        </div>
        <div class="col-md-8">
          <nav>
            <ul>
              <li><a href="#">Yoga</a></li>
              <li><a href="#">Language</a></li>
              <li><a href="#">Dance and performing Arts</a></li>
              <li><a href="#">Medicine</a></li>
              <li><a href="#" class="button">Shop</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <button class="header__aside__toggle">
      <span>other</span>
      <span>en</span>
      <span class="hamburgher">
        <span class="hamburgher__line"></span>
      </span>
    </button>
  </div>
  <div class="header__aside">

  </div>
</header>
