<div id="outdated"></div>

<header class="header">
  <div class="header__main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-7 col-sm-4">
          <a href="#" class="logo">
            <img src="../../img/logo.svg" alt="">
          </a>
        </div>
        <div class="col-md-8 visible-lg">
          <nav>
            <ul>
              <li><a href="#">Yoga</a></li>
              <li><a href="#">Language</a></li>
              <li><a href="#">Dance and performing Arts</a></li>
              <li><a href="#">Medicine</a></li>
              <li><a href="#" class="button">Shop</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <button class="header__aside__toggle">
      <span class="hidden-xs">menu</span>
      <span>en</span>
      <span class="hamburgher">
        <span class="hamburgher__line"></span>
      </span>
    </button>
  </div>

  <div class="header__aside">
    <div class="header__aside--language">
      <button type="button" class="button dropdown-toggle" data-toggle="dropdown">
        Choose a language <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Italiano</a></li>
        <li><a href="#">English</a></li>
        <li><a href="#">Francaise</a></li>
        <li><a href="#">Spanish</a></li>
      </ul>
    </div>

    <nav class="header__aside--navigation">
      <ul class="hidden-lg">
        <li><a href="#">Yoga</a></li>
        <li><a href="#">Language</a></li>
        <li><a href="#">Dance and performing Arts</a></li>
        <li><a href="#">Medicine</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
      <ul>
        <li><a href="#">Foundation</a></li>
        <li><a href="#">Worldwide branches</a></li>
        <li><a href="#">Fundraising campaigns</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Archive</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
