<footer class="footer">
  <div class="footer__top">
    <ul>
      <li><a href="#">Foundation</a></li>
      <li><a href="#">Worldwide branches</a></li>
      <li><a href="#">Fundraising campaigns</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Archive</a></li>
      <li><a href="#">Contact us </a></li>
    </ul>
  </div>
  <div class="footer__scroll-top">
    <button class="icon-circle"><i class="icon icon--arrow-up"></i></button>
  </div>
  <div class="footer__middle">
    <ul>
      <li><a href="#">Yoga</a></li>
      <li><a href="#">Language</a></li>
      <li><a href="#">Dance and performing arts</a></li>
      <li><a href="#">Medicine</a></li>
      <li><a href="#" class="button hollow">Shop</a></li>
    </ul>
  </div>
  <div class="footer__bottom">
    <div class="row">
      <div class="col-sm-6">
        <ul class="social">
          <li>Get a Taste of What's Happening</li>
          <li><a href="#"><i class="icon icon--facebook"></i></a></li>
          <li><a href="#"><i class="icon icon--twitter"></i></a></li>
          <li><a href="#"><i class="icon icon--linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>Shang Shung Foundation. All Rights Reserved.</li>
          <li>
            <ul>
              <li><a href="#">Site index</a></li>
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="http://www.basili.co" target="_blank">Design by Basilico</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
