.button-icon {
  .set-hover-color(@hover: @brand-primary) {
    color: @hover;

    span {
      border-color: @hover;
      color: #fff;

      &:before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .set-color(@color: @gray-darker, @hover: @brand-primary) {
    color: @color;
    border-color: @color;

    span::before {
      background-color: @hover;
    }

    &:hover,
    &:focus {
      .set-hover-color(@hover);
    }
  }

  .set-color();
  text-transform: uppercase;
  text-decoration: none !important;
  font-family: @font-family-secondary;
  font-weight: 700;
  white-space: nowrap;
  font-size: @font-size-small;
  transition: color .2s ease;

  span {
    .square(46px);
    position: relative;
    border-radius: 100%;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 9px;
    transition: border-color .3s ease;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;

      &--play {
        margin-left: -9px;
      }
    }

    &:before {
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      border-radius: 100%;
      content: '';
      transition: all .3s ease;
      opacity: 0;
      transform: scale(0);
    }
  }
}

.button-link {
  font-family: @font-family-secondary;
  color: @gray-darker;
  font-weight: 800;
  display: inline-block;
}
