.button {
  .set-color(@color: @btn-default-color, @background: @btn-default-bg) {
    color: @color !important;
    background-color: @background;
    border-color: @background;

    &:hover,
    &:focus {
      background-color: @color;
      color: @background !important;
      border-color: @background;
    }
  }

  .set-hollow-color(@color: @btn-default-bg, @color-hover: #fff) {
    background-color: transparent;
    color: @color !important;
    border-color: @color;

    &:hover,
    &:focus {
      color: @color-hover !important;
      background-color: @color;
    }
  }

  .set-color();
  border-width: 2px;
  border-style: solid;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: @btn-font-family;
  font-size: @btn-font-size;
  font-weight: @btn-font-weight;
  margin: 0;
  text-decoration: none;
  transition: all .2s ease;
  padding: 11px 20px;
  height: 50px;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.expand {
    width: 100%;
  }

  &--underline {
    border: 0;
    text-decoration: underline;
    background-color: transparent;
    color: @btn-default-bg !important;
    padding-right: 6px;
    padding-left: 6px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    body.has-color-khaita & { color: @color-khaita !important; }
    body.has-color-vajra-dance & { color: @color-vajra-dance !important; }
    body.has-color-yantra-yoga & { color: @color-yantra-yoga !important; }
    body.has-color-visual-art & { color: @color-visual-art !important; }
    body.has-color-tibetan-medicine & { color: @color-tibetan-medicine !important; }
    body.has-color-tibetan-language & { color: @color-tibetan-language !important; }
    body.has-color-inner-knowledge & { color: @color-inner-knowledge !important; }
  }

  &--hollow {
    .set-hollow-color();
  }
}

.button-icon {
  .set-hover-color(@hover: @brand-primary) {
    color: @hover;

    .icon-circle {
      border-color: @hover;
      color: #fff;
      transition: border-color .2s ease;

      &:before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .set-color(@color: @gray-darker, @hover: @brand-primary) {
    color: @color !important;
    border-color: @color;

    .icon-circle::before {
      background-color: @hover;
    }

    &:hover,
    &:focus {
      .set-hover-color(@hover);
    }
  }

  .set-light-color() {
    .set-color(#fff);

    body.has-color-khaita & { .set-color(#fff, @color-khaita); }
    body.has-color-vajra-dance & { .set-color(#fff, @color-vajra-dance); }
    body.has-color-yantra-yoga & { .set-color(#fff, @color-yantra-yoga); }
    body.has-color-visual-art & { .set-color(#fff, @color-visual-art); }
    body.has-color-tibetan-medicine & { .set-color(#fff, @color-tibetan-medicine); }
    body.has-color-tibetan-language & { .set-color(#fff, @color-tibetan-language); }
    body.has-color-inner-knowledge & { .set-color(#fff, @color-inner-knowledge); }
  }

  .set-color();
  text-transform: uppercase;
  text-decoration: none !important;
  font-family: @font-family-secondary;
  font-weight: 700;
  white-space: nowrap;
  font-size: @font-size-small-mobile;
  transition: color .2s ease;

  .icon-circle::before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: 100%;
    content: '';
    transition: all .3s ease;
    opacity: 0;
    transform: scale(0);
  }

  @media (min-width: @screen-sm-min) {
    font-size: @font-size-small;
  }

  body.has-color-khaita & { .set-color(@gray-darker, @color-khaita); }
  body.has-color-vajra-dance & { .set-color(@gray-darker, @color-vajra-dance); }
  body.has-color-yantra-yoga & { .set-color(@gray-darker, @color-yantra-yoga); }
  body.has-color-visual-art & { .set-color(@gray-darker, @color-visual-art); }
  body.has-color-tibetan-medicine & { .set-color(@gray-darker, @color-tibetan-medicine); }
  body.has-color-tibetan-language & { .set-color(@gray-darker, @color-tibetan-language); }
  body.has-color-inner-knowledge & { .set-color(@gray-darker, @color-inner-knowledge); }
}

.button-link {
  .set-color(@color: @gray-darker, @hover: @brand-primary) {
    color: @color !important;

    .icon {
      color: @hover;
    }

    &:hover,
    &:focus {
      color: @hover !important;
    }
  }

  .set-color();
  font-family: @font-family-secondary;
  font-size: @font-size-small;
  font-weight: 800;
  display: inline-block;
  text-decoration: none !important;

  .icon {
    font-size: 11px;
    margin-right: 3px;
  }

  body.has-color-khaita & { .set-color(@gray-darker, @color-khaita); }
  body.has-color-vajra-dance & { .set-color(@gray-darker, @color-vajra-dance); }
  body.has-color-yantra-yoga & { .set-color(@gray-darker, @color-yantra-yoga); }
  body.has-color-visual-art & { .set-color(@gray-darker, @color-visual-art); }
  body.has-color-tibetan-medicine & { .set-color(@gray-darker, @color-tibetan-medicine); }
  body.has-color-tibetan-language & { .set-color(@gray-darker, @color-tibetan-language); }
  body.has-color-inner-knowledge & { .set-color(@gray-darker, @color-inner-knowledge); }
}

.button-cta {
  .set-color(@color: @brand-primary) {
    background-color: @color;

    &:hover,
    &:focus {
      background-color: darken(@color, 10%);
    }
  }

  .set-color();
  position: relative;
  text-transform: uppercase;
  color: #fff !important;
  text-decoration: none;
  display: block;
  font-family: @font-family-secondary;
  font-weight: 800;
  font-size: @font-size-small;
  padding: 24px 28px;
  transition: background-color .2s ease;

  .icon-circle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 28px;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    color: #fff !important;
    text-decoration: none;
  }

  body.has-color-khaita & { .set-color(@color-khaita); }
  body.has-color-vajra-dance & { .set-color(@color-vajra-dance); }
  body.has-color-yantra-yoga & { .set-color(@color-yantra-yoga); }
  body.has-color-visual-art & { .set-color(@color-visual-art); }
  body.has-color-tibetan-medicine & { .set-color(@color-tibetan-medicine); }
  body.has-color-tibetan-language & { .set-color(@color-tibetan-language); }
  body.has-color-inner-knowledge & { .set-color(@color-inner-knowledge); }
}
