.form-control {
  position: relative;
  font-family: @font-family-secondary;
  font-size: @font-size-small;
  font-weight: 800;

  select {
    .square(100%);
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 0;

    option {
      color: @text-color;
    }
  }

  textarea& {
    height: 150px;
  }
}

.checkbox label,
.radio label {
  font-family: @font-family-secondary;
  font-size: @font-size-small;
  font-weight: 800;
  color: @text-color;
}

.form {
  .row {
    margin-left: floor(-@grid-gutter-width / 3.8);
    margin-right: floor(-@grid-gutter-width / 3.8);

    *[class^="col-"] {
      padding-left: floor(@grid-gutter-width / 3.8);
      padding-right: floor(@grid-gutter-width / 3.8);
    }
  }

  .form-group {
    margin-bottom: floor(@grid-gutter-width / 1.9);

    .checkbox,
    .radio {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
