.icon-circle {
  .square(46px);
  position: relative;
  border-radius: 100%;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 9px;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;

    &--play {
      margin-left: -9px;
    }
  }
}
