@media (max-width: @screen-xs-max) {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    line-height: @headings-line-height-mobile;
  }

  h1, .h1 { font-size: @font-size-h1-mobile; }
  h2, .h2 { font-size: @font-size-h2-mobile; }
  h3, .h3 { font-size: @font-size-h3-mobile; }
  h4, .h4 { font-size: @font-size-h4-mobile; }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: @line-height-computed;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
ul {
  margin-bottom: @line-height-computed;
}

p.lead {
  font-size: @font-size-base;
  line-height: inherit;
  font-weight: inherit;

  @media (min-width: @screen-sm-min) {
    font-size: @font-size-large;
    line-height: (32 / 20);
  }
}

blockquote {
  color: @gray-darker;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  border-left-width: 2px;
  font-style: italic;
  font-size: @blockquote-font-size-mobile;
  margin-top: floor(@line-height-computed * 2);
  margin-bottom: floor(@line-height-computed * 2);

  @media (min-width: @screen-sm-min) {
    margin-top: floor(@line-height-computed * 2.3);
    margin-bottom: floor(@line-height-computed * 2.3);
    font-size: @blockquote-font-size;
    padding-left: 60px;
    margin-left: -57px;
  }
}

a {
  text-decoration: underline;
  transition: color .2s ease;
}

ul {
  margin-left: -20px;

  li {
    padding-left: 6px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.has-icon-pointer {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

    li {
      position: relative;
      padding-left: (@font-size-base-mobile + 10px);

      .icon {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: floor(@font-size-base-mobile / 3.5);
        color: @gray-darker;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    &.has-icon-pointer {
      li {
        padding-left: (@font-size-base + 10px);

        .icon {
          margin-top: floor(@font-size-base / 2.5);
        }
      }
    }
  }
}
