.card-list {
  @gutter: floor(@grid-gutter-width / 1.5);
  .make-row(@gutter);

  > *[class^="col-"] {
    padding-left: floor(@gutter / 2);
    padding-right: floor(@gutter / 2);
  }

  .card {
    margin-bottom: floor(@grid-gutter-width / 2);
  }

  &__header {
    margin-bottom: @grid-gutter-width;

    h1,
    h2,
    h3 {
      margin-top: 0;
    }

    p {
      font-size: @font-size-small;
    }
  }

  @media (min-width: @screen-sm-min) {
    .card {
      margin-bottom: @gutter;
    }

    &__header {
      padding-right: @gutter;
    }
  }

  @supports (display: flex) {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;

    > *[class^="col-"] {
      float: none !important;
    }

    .card {
      height: calc(100% ~'- @{gutter}');
      display: flex;
      flex-direction: column;

      &__footer {
        position: relative;
        align-items: flex-end;
        margin-top: auto;
      }
    }
  }
}
