.header {
  .set-toggle-style() {
    .header__aside__toggle {
      .hamburgher {
        &__line {
          transform: scaleX(0);
          opacity: 0;
        }

        &:before {
          transform: translateY(6px) rotate(45deg);
        }

        &:after {
          transform: translateY(-8px) rotate(-45deg);
        }
      }

      &:hover .hamburgher {
        &:before {
          transform: translateY(6px) rotate(45deg) scale(1.1);
        }

        &:after {
          transform: translateY(-8px) rotate(-45deg) scale(1.1);
        }
      }
    }
  }

  text-transform: uppercase;
  color: #fff;
  font-family: @font-family-secondary;
  font-weight: 800;
  font-size: @font-size-small;
  height: 54px;

  a {
    text-decoration: none;
    color: #fff;

    &.active,
    &:hover,
    &:focus {
      color: @brand-primary;
    }
  }

  &__main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: @gray-darker;
    padding: 10px 0;
    height: 54px;

    .row {
      .make-row(0);
      position: relative;

      *[class^="col-"] {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .button {
      .button.set-hollow-color(#fff, @gray-darker);
      padding: 3px 16px;
      height: auto;
    }

    .logo {
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      display: block;
      padding: 15px 10px;
      margin-left: -20px;

      img {
        position: relative;
        width: 100%;
        z-index: 1;
      }

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        left: -9999px;
        bottom: 0;
        background-color: #f6f6f6;
        content: '';
        display: block;
      }
    }

    nav ul {
      .list-inline();
      padding-left: 0;
      margin-left: 20px;
      margin-bottom: 0;

      li {
        position: relative;
        padding-right: 16px;
        padding-left: 16px;

        > a {
          position: relative;
          z-index: 1;
        }

        ul {
          position: absolute;
          top: 0px;
          left: 0px;
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-top: 60px;
          padding-bottom: 20px;
          right: 0;
          background-color: @gray-darker;
          display: none;

          li {
            display: block;
            margin-bottom: 20px;
          }
        }

        &:hover ul {
          display: block;
        }
      }
    }
  }

  &__aside__toggle {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    text-transform: uppercase;
    padding: 15px;

    > span {
      display: inline-block;
      padding: 0 8px;

      &:first-child {
        padding: 0 20px;
      }
    }

    .hamburgher {
      .size(22px, 17px);
      position: relative;
      display: inline-block;
      padding: 0;

      &:before,
      &:after {
        .size(22px, 3px);
        background-color: #fff;
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        content: '';
        transition: all .4s ease;
        border-radius: 7px;
        transition: transform .32s ease;
      }

      &:before {
        margin-top: -5px;
      }

      &:after {
        margin-top: 9px;
      }

      &__line {
        .size(22px, 3px);
        position: relative;
        top: -3px;
        display: inline-block;
        background-color: #fff;
        border-radius: 7px;
        transition: transform .32s ease;
      }
    }

    &:hover {
      .hamburgher {
        &:before {
          transform: scaleX(0.6);
        }

        &:after {
          transform: scaleX(0.6);
        }
      }
    }
  }

  &__aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: @gray-darker;
    width: @header-aside-width-mobile;
    transform: translateX(@header-aside-width-mobile);

    &--language {
      position: relative;

      .button {
        width: 100%;
        height: 54px;
        border: 0;
      }

      .dropdown-menu {
        width: 100%;
        border-radius: 0;
        background-color: #141414;
        margin: 0;
        border: 0;
        padding: 0;
        border-top: 1px solid #383838;
        font-size: inherit;
        font-weight: 800;

        > li {
          padding-left: 0;
          margin-bottom: 0;

          > a {
            font-weight: inherit;
            color: inherit;
            display: block;
            height: 54px;
            padding: 15px 20px;

            &:hover,
            &:focus {
              color: @gray-darker;
              background-color: #fff;
            }
          }
        }
      }
    }

    &--navigation {
      .square(100%);
      position: absolute;
      top: 54px;
      left: 0;
      overflow-y: auto;

      ul {
        .list-unstyled();
        padding: 20px;
        margin-left: 0;

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          &.has-children > a:first-child {
            position: relative;
            display: block;

            &:after {
              .caret();
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -2px;
            }
          }
        }

        div {
          display: none;

          li {
            margin-bottom: 20px;
          }
        }
      }

      > ul:first-child {
        background-color: #000;
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    &__main {
      .logo {
        padding: 12px 34px 12px 30px;
      }
    }

    &__aside {
      width: @header-aside-width-base;
      transform: translateX(@header-aside-width-base);

      &--navigation > ul {
        padding: 50px;

        li {
          margin-bottom: 50px;
        }
      }
    }
  }

  @media (min-width: @screen-lg-min) {
    &__main {
      .logo {
        margin-left: -60px;
      }
    }
  }
}
