.jumbotron-carousel {
  position: relative;


  .jumbotron {
    &__body__wrapper {
      margin-left: 0;

      @media (min-width: @screen-md-min) {
        width: 68%;
      }

      @media (min-width: @screen-lg-min) {
        width: 48%;
      }
    }
  }
}
