.breadcrumb {
  text-transform: uppercase;
  font-family: @font-family-secondary;
  font-size: @font-size-small-mobile;
  display: none;
  border-radius: 0;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: @brand-primary;
    }
  }

  li {
    margin-bottom: 0;
  }

  > li+li:before {
    color: @brand-primary;
  }

  li:last-child {
    font-weight: 700;
  }

  @media (min-width: @screen-sm-min) {
    display: block;
  }
}
