.jumbotron {
  .make-row(0);
  background-color: #f6f6f6;
  padding: 60px 0;

  &__body {
    .make-sm-column(12);

    > * {
      margin-top: 0;
      margin-bottom: 0;

      + * {
        margin-top: @line-height-computed-mobile;
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    .breadcrumb + * {
      margin-top: 0 !important;
    }
  }

  @media (min-width: @screen-sm-min) {
    padding: 80px 0;

    &__body {
      .make-sm-column(10);
      .make-sm-column-offset(1);

      font-size: @font-size-large;

      > * + * {
        margin-top: @line-height-computed;
      }
    }
  }

  @media (min-width: @screen-lg-min) {
    padding: 120px 0;

    &__body {
      .make-md-column(8);
      .make-md-column-offset(1);
    }
  }
}
