.jumbotron {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0;

  &.has-background {
    position: relative;
    transform: translateZ(0);

    .jumbotron__body {
      position: relative;
      z-index: 1;
      color: #fff;

      h1,
      h2,
      h3 {
        color: #fff;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: @gray-darker;
      opacity: .6;
      content: '';
    }
  }

  &__body {
    .container-fluid();
  }

  &__body__wrapper {
    .make-sm-column(12);
    padding-left: 0 !important;
    padding-right: 0 !important;

    > * {
      margin-top: 0;
      margin-bottom: 0;

      + * {
        margin-top: @line-height-computed-mobile;
      }
    }
  }

  .button {
    .button.set-color(#fff, @brand-primary);
  }

  @media (max-width: @screen-xs-max) {
    .breadcrumb + * {
      margin-top: 0 !important;
    }
  }

  @media (min-width: @screen-sm-min) {
    padding: 80px 0;

    &__body__wrapper {
      .make-sm-column(10);
      .make-sm-column-offset(2);

      font-size: @font-size-large;

      > * + * {
        margin-top: @line-height-computed;
      }
    }
  }

  @media (min-width: @screen-lg-min) {
    padding: 120px 0;

    &__body__wrapper {
      .make-md-column(7.5);
      .make-md-column-offset(1.5);
    }
  }
}

.jumbotron + .section {
  margin-top: floor(@section-margin-mobile / 2);

  @media (min-width: @screen-sm-min) {
    margin-top: floor(@section-margin / 1.6);
  }
}
