.media {
  .set-light-color() {
    .media__body {
      background-color: #f6f6f6;
    }
  }

  .set-dark-color() {
    .media__body {
      background-color: @gray-darker;
      color: #fff;

      h1,
      h2,
      h3 {
        color: #fff;
      }

      .button-icon {
        .button-icon.set-light-color();
      }
    }
  }

  .set-default-odd-position() {
    @media (min-width: @screen-md-min) {
      .media__header {
        left: 0;

        + .media__body {
          .make-md-column-offset(4);
        }
      }
    }
  }

  .set-default-even-position() {
    @media (min-width: @screen-md-min) {
      .media__header {
        right: 0;
      }
    }
  }

  .set-small-odd-position() {
    @media (min-width: @screen-md-min) {
      .media__header {
        left: 0;

        + .media__body {
          .make-md-column-offset(3);
        }
      }
    }
  }

  .set-small-even-position() {
    .set-default-even-position();
  }

  .set-hero-odd-position() {
    @media (min-width: @screen-md-min) {
      .media__header {
        left: 0;

        + .media__body {
          .make-md-column-offset(7.5);
        }
      }
    }
  }

  .set-hero-even-position() {
    @media (min-width: @screen-md-min) {
      .media__header {
        right: 0;
      }
    }
  }

  .set-default-style() {
    .media__header {
      padding-bottom: 80%;
    }

    .media__body {
      padding: 35px 20px;

      .media__list {
        margin-bottom: -35px;
      }

      h1,
      h2,
      h3 {
        font-size: @font-size-h1-mobile;
      }

      > * + * {
        margin-top: floor(@line-height-computed-mobile * 1.2);
      }
    }

    @media (min-width: @screen-md-min) {
      margin-bottom: 90px;

      .media__header {
        .make-md-column(4.55);
        padding-bottom: calc((100% * 4.55 / @grid-columns)~"- 60px");

        + .media__body {
          .make-md-column(8);
        }
      }

      .media__body {
        padding: 50px 40px !important;
        margin-top: 60px;

        .media__list {
          margin-bottom: -50px;
        }

        h1,
        h2,
        h3 {
          font-size: @font-size-h2;
        }

        > * + * {
          margin-top: floor(@line-height-computed * 1.2);
        }
      }
    }

    @media (min-width: @screen-lg-min) {
      .media__body {
        padding: 94px 60px !important;

        .media__list {
          margin-bottom: -94px;
        }

        h1,
        h2,
        h3 {
          font-size: @font-size-h1;
        }
      }
    }

    &:nth-child(odd) {
      .set-default-odd-position();
    }

    &:nth-child(even) {
      .set-default-even-position();
    }
  }

  .set-small-style() {
    font-size: (@font-size-small-mobile + 1px);

    .media__header {
      padding-bottom: 65%;
    }

    .media__body {
      padding: 25px 20px;

      h1,
      h2,
      h3 {
        font-size: @font-size-base-mobile;
      }

      > * + * {
        margin-top: floor(@line-height-computed / 1.6);
      }
    }

    @media (min-width: @screen-md-min) {
      font-size: @font-size-small;
      margin-bottom: 28px;

      .media__header {
        .make-md-column(3.45);
        padding-bottom: calc((100% * (3.45 / 1.5) / @grid-columns)~"- 25px");

        + .media__body {
          .make-md-column(9);
        }
      }

      .media__body {
        padding: 34px 50px !important;
        margin-top: 25px;

        h1,
        h2,
        h3 {
          font-size: (@font-size-large + 2px);
        }

        .button-icon {
          font-size: (@font-size-small - 1px);
        }

        > * + * {
          margin-top: floor(@line-height-computed * 0.8);
        }
      }
    }

    &:nth-child(odd) {
      .set-small-odd-position();
    }

    &:nth-child(even) {
      .set-small-even-position();
    }
  }

  .set-hero-style() {
    .set-default-style();

    @media (min-width: @screen-md-min) {
      .media__header {
        .make-md-column(9.5);
        padding-bottom: calc((100% * 6 / @grid-columns)~"- 60px");

        + .media__body {
          .make-md-column(4.5);
        }
      }
    }

    &:nth-child(odd) {
      .set-hero-odd-position();
    }

    &:nth-child(even) {
      .set-hero-even-position();
    }
  }

  .set-color(@color: @brand-primary, @text-color: #fff) {
    .media__header {
      background-color: fade(@color, 80%) !important;
    }

    .media__body {
      background-color: @color;
      color: @text-color;

      h1,
      h2,
      h3 {
        color: @text-color;

        a {
          text-decoration: none;
        }
      }

      a {
        color: @text-color;
      }

      .button-icon {
        .button-icon.set-light-color();

        .icon-circle {
          transition: all .2s;
        }

        .icon-circle::before {
          background-color: @text-color;
        }

        &:hover,
        &:focus {
          .button-icon.set-hover-color(@text-color);

          .icon-circle {
            color: @color;
            border-color: @text-color !important;
          }
        }
      }
    }

    // .media__body {
    //   a {
    //     color: @color;
    //   }

    //   h1 a,
    //   h2 a,
    //   h3 a {
    //     color: inherit;

    //     &:hover,
    //     &:focus {
    //       color: @color !important;
    //     }
    //   }

    //   .icon-circle::before {
    //     background-color: @color;
    //   }

    //   .button-icon:hover,
    //   .button-icon:focus {
    //     .button-icon.set-hover-color(@color);

    //     .icon-circle {
    //       border-color: @color !important;
    //     }
    //   }
    // }
  }

  .set-light-color();
  .make-row(0);
  position: relative;
  margin-bottom: floor(@grid-gutter-width / 2);

  &__header {
    position: relative;
    overflow: hidden;
    height: 0;
    background-color: @brand-primary;
  }

  &__image {
    .square(100%);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__body {
    position: relative;
    overflow: hidden;

    h1,
    h2,
    h3 {
      .h1();

      a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus {
          color: @brand-primary;
        }
      }
    }

    > *:first-child {
      margin: 0;
    }

    > * + * {
      margin-bottom: 0;
    }
  }

  &__list {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;

    &__item {
      position: relative;
      text-decoration: none;
      display: table;
      width: 100%;
      table-layout: fixed;
      color: #fff !important;
      margin-bottom: 1px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: fade(@gray-dark, 20%);
      transition: all .3s ease;

      > span {
        padding-left: 20px;
        padding-right: 20px;
        vertical-align: top;
        display: table-cell;
        text-transform: uppercase;

        &:first-child {
          .h5();
          margin: 0;
          color: #fff;
          width: 100px;
        }
      }

      h5 {
        color: #fff;
        margin-top: 0;
        margin-bottom: 5px;
      }

      p {
        text-transform: none;
        font-size: @font-size-small;
        margin-bottom: 0;
      }

      &:hover,
      &:focus {
        color: #fff ;
        text-decoration: none;
        background-color: fade(@gray-dark, 40%);
      }
    }

    @media (min-width: @screen-md-min) {
      margin-left: -40px;
      margin-right: -40px;
    }

    @media (min-width: @screen-lg-min) {
      margin-left: -60px;
      margin-right: -60px;
    }
  }

  &--dark {
    .set-dark-color();
  }

  &--default {
    .set-default-style();
  }

  &--small {
    .set-small-style();
  }

  &--hero {
    .set-hero-style();
  }

  @media (min-width: @screen-md-min) {
    &__header {
      position: absolute !important;
      top: 0;
    }

    &__body {
      z-index: 1;
    }
  }

  body.has-color-khaita &,
  &.has-color-khaita { .set-color(@color-khaita); }

  body.has-color-vajra-dance &,
  &.has-color-vajra-dance { .set-color(@color-vajra-dance); }

  body.has-color-yantra-yoga &,
  &.has-color-yantra-yoga { .set-color(@color-yantra-yoga); }

  body.has-color-visual-art &,
  &.has-color-visual-art { .set-color(@color-visual-art); }

  body.has-color-tibetan-medicine &,
  &.has-color-tibetan-medicine { .set-color(@color-tibetan-medicine); }

  body.has-color-tibetan-language &,
  &.has-color-tibetan-language { .set-color(@color-tibetan-language); }

  body.has-color-inner-knowledge &,
  &.has-color-inner-knowledge { .set-color(@color-inner-knowledge); }
}
