.nav-group {
  .set-color(@color: @gray-dark, @hover: @brand-primary) {
    a {
      color: @color !important;

      &:hover,
      &.active {
        color: @hover !important;
      }
    }

    &__head {
      &:hover {
        color: @hover !important;
      }
    }

    &__list {
      border-top: 3px solid @hover;
    }
  }

  .set-color();
  font-family: @font-family-secondary;
  font-size: @font-size-small-mobile;

  a {
    text-decoration: none;
  }

  &__head {
    text-transform: uppercase;
    padding-bottom: floor(@line-height-computed-mobile / 2.1);
    display: block;
    font-weight: 800;

    &:after {
      font-family: @font-family-icons;
      content: @icon--arrow-down;
      font-weight: 100;
      margin-left: 10px;
      font-size: 11px;
    }
  }

  &__list {
    .list-unstyled();
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
    }

    > li > a {
      padding: floor(@line-height-computed-mobile / 2);
      border-bottom: 1px solid #e6e6e6;
      display: block;
      transition: all .2s ease;
      font-weight: 800;

      &:hover,
      &.active {
        background-color: #f6f6f6;
      }
    }

    > li ul {
      list-style-type: none;
      padding-top: floor(@line-height-computed-mobile / 3);
      padding-bottom: floor(@line-height-computed-mobile / 2);
      margin-left: floor(-@line-height-computed-mobile / 2);
      display: none;

      li {
        padding: 3px 0;
      }
    }

    > li.active {
      background-color: #f6f6f6;
      overflow: hidden;

      > a {
        border-bottom: 0;
        padding-bottom: 0;
        color: @brand-primary;
      }

      > ul {
        border-bottom: 1px solid #e6e6e6;
        display: block;

        > li.active a  {
          color: @brand-primary;
        }
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    font-size: @font-size-small;

    &__head {
      padding-bottom: floor(@line-height-computed / 2.1);
    }

    &__list > li {
      > a {
        padding: floor(@line-height-computed / 2);
      }

      ul {
        padding-top: floor(@line-height-computed / 3);
        padding-bottom: floor(@line-height-computed / 2);
        margin-left: floor(-@line-height-computed / 2);
      }
    }
  }

  body.has-color-khaita & { .set-color(@gray-dark, @color-khaita); }
  body.has-color-vajra-dance & { .set-color(@gray-dark, @color-vajra-dance); }
  body.has-color-yantra-yoga & { .set-color(@gray-dark, @color-yantra-yoga); }
  body.has-color-visual-art & { .set-color(@gray-dark, @color-visual-art); }
  body.has-color-tibetan-medicine & { .set-color(@gray-dark, @color-tibetan-medicine); }
  body.has-color-tibetan-language & { .set-color(@gray-dark, @color-tibetan-language); }
  body.has-color-inner-knowledge & { .set-color(@gray-dark, @color-inner-knowledge); }
}
