.product {
  position: relative;
  text-decoration: none !important;
  font-size: @font-size-small;
  display: block;

  span {
    display: block;
  }

  > * + * {
    margin-top: floor(@line-height-computed / 2.6);
  }

  &__image {
    position: relative;
    display: block;
    overflow: hidden;
    height: 245px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }

  &__title {
    font-weight: 800;
    font-family: @font-family-secondary;
    color: @gray-darker;
    line-height: 1;
  }

  &__price {
    font-family: @font-family-primary;
    color: @text-color;
  }

  &:hover {
    &__title,
    &__price {
      color: @brand-primary;
    }
  }
}
