<input type="{{ input.type }}" class="form-control" name="{{ input.name }}" placeholder="{{ input.placeholder }}{{#input.required}} *{{/input.required}}" {{#input.required}} required {{/input.required}}>
