<textarea class="form-control" name="{{ textarea.name }}" placeholder="{{ textarea.placeholder }}{{#textarea.required}} *{{/textarea.required}}" {{#textarea.required}} required{{/textarea.required}}"></textarea>
