<div class="form-control has-select">
  <span class="icon icon--arrow-down"></span>
  <select name="{{ select.name }}" {{#select.required}} required{{/select.required}}>
    <option disabled selected>{{ select.placeholder }}{{#select.required}} *{{/select.required}}</option>
    {{#select.options}}
      <option value="{{ value }}">{{ text }}</option>
    {{/select.options}}
  </select>
</div>
