{{#contact-form}}
<form action="#" class="form" method="POST">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        {{#name}} {{>atoms-input}} {{/name}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{#surname}} {{>atoms-input}} {{/surname}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{#email}} {{>atoms-input}} {{/email}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{#phone}} {{>atoms-input}} {{/phone}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        {{#branch}} {{>atoms-select}} {{/branch}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        {{#subject}} {{>atoms-input}} {{/subject}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        {{#message}} {{>atoms-textarea}} {{/message}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        {{#privacy}} {{>atoms-checkbox}} {{/privacy}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group pull-right">
        {{#submit}} {{>atoms-button }} {{/submit}}
      </div>
    </div>
  </div>
</form>
{{/contact-form}}
