<form action="#" class="form" method="POST">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        {{>atoms-input}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{>atoms-input}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{>atoms-input}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{>atoms-input}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        {{>atoms-select}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        {{>atoms-input}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        {{>atoms-textarea}}
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group pull-right">
        {{>atoms-button }}
      </div>
    </div>
  </div>
</form>
