{{#filter-form}}
<form action="#" class="form" method="GET">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        {{#title}}
          {{>atoms-input}}
        {{/title}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        {{#discipline}}
          {{>atoms-select}}
        {{/discipline}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        {{#location}}
          {{>atoms-select}}
        {{/location}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-xs-10 col-sm-11">
          {{#submit}}
            {{>atoms-button:expand}}
          {{/submit}}
        </div>
        <div class="col-xs-2 col-sm-1">
          {{#more}}
            <span data-toggle="tooltip" title="Sync to my calendar!">
              {{>atoms-button-icon}}
            </span>
          {{/more}}
        </div>
      </div>
    </div>
  </div>
</form>
{{/filter-form}}
