<form action="#" class="filter-form form" method="GET">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        {{>atoms-input}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        {{>atoms-input}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        {{>atoms-input}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          {{>atoms-button:expand}}
        </div>
        <div class="col-md-6">
          {{>atoms-button:button--underline expand}}
        </div>
      </div>
    </div>
  </div>
</form>
