<div class="container" style="max-width: 720px">
  <a href="#" class="preview">
    <span class="preview__image lazyload" data-sizes="auto" data-bgset="{{ bgs.640 }} 640w, {{ bgs.720 }} 720w, {{ bgs.1024 }} 1024w">
      <span class="preview__cta">
        {{> atoms-button-icon(is_span:true) }}
      </span>
    </span>
    <span class="preview__title">
      Tibetan Culture Week Arcidosso, Italy
      <span class="preview__cta">
        {{> atoms-button-icon(is_span:true) }}
      </span>
    </span>
    <span class="preview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi repellat, consequatur voluptatem maxime dolores! Illum ad saepe nesciunt eligendi! Excepturi, delectus quae nisi nesciunt earum magnam possimus quasi rem error.</span>
  </a>
</div>
