<div class="container" style="max-width: 720px">
  {{# preview }}
    <div class="preview">
      <a href="{{ href }}" class="preview__anchor">
        <span class="preview__image-wrapper">
          <span class="preview__image lazyload" data-sizes="auto" data-bgset="{{ image.640 }} 640w, {{ image.720 }} 720w, {{ image.1024 }} 1024w"></span>
          <span class="preview__cta">
            {{> atoms-button-icon(is_span:true) }}
          </span>
        </span>

        <span class="preview__title">
          {{ title }}
          <span class="preview__cta">
            {{> atoms-button-icon(is_span:true) }}
          </span>
        </span>
      </a>
      <span class="preview__description">{{ description }}</span>
    </div>
  {{/ preview }}
</div>
