<div class="container" style="max-width: 720px">
  <a href="#" class="preview">
    {{# preview }}
      <span class="preview__image lazyload" data-sizes="auto" data-bgset="{{ image.640 }} 640w, {{ image.720 }} 720w, {{ image.1024 }} 1024w">
        <span class="preview__cta">
          {{> atoms-button-icon(is_span:true) }}
        </span>
      </span>

      <span class="preview__title">
        {{ title }}
        <span class="preview__cta">
          {{> atoms-button-icon(is_span:true) }}
        </span>
      </span>

      <span class="preview__description">{{ description }}</span>
    {{/ preview }}
  </a>
</div>
