<ul>
  <li>{{ lorem.short }}</li>
  <li>{{ lorem.short }}</li>
  <li>{{ lorem.short }}</li>
  <li>{{ lorem.short }}</li>
  <li>{{ lorem.short }}</li>
  <li><a href="#">{{ lorem.short }}</a></li>
</ul>
