<i class="icon icon--home"></i>
<i class="icon icon--pencil"></i>
<i class="icon icon--brush"></i>
<i class="icon icon--camera"></i>
<i class="icon icon--music"></i>
<i class="icon icon--mic"></i>
<i class="icon icon--book"></i>
<i class="icon icon--reading"></i>
<i class="icon icon--library"></i>
<i class="icon icon--file-download"></i>
<i class="icon icon--price-tag"></i>
<i class="icon icon--theater"></i>
<i class="icon icon--cart"></i>
<i class="icon icon--cart-2"></i>
<i class="icon icon--phone"></i>
<i class="icon icon--phone2"></i>
<i class="icon icon--at-sign"></i>
<i class="icon icon--envelop"></i>
<i class="icon icon--pushpin"></i>
<i class="icon icon--location"></i>
<i class="icon icon--printer"></i>
<i class="icon icon--box"></i>
<i class="icon icon--undo"></i>
<i class="icon icon--redo"></i>
<i class="icon icon--bubbles4"></i>
<i class="icon icon--user"></i>
<i class="icon icon--user-2"></i>
<i class="icon icon--search"></i>
<i class="icon icon--zoom-in"></i>
<i class="icon icon--zoom-out"></i>
<i class="icon icon--enlarge"></i>
<i class="icon icon--shrink"></i>
<i class="icon icon--key"></i>
<i class="icon icon--lock"></i>
<i class="icon icon--unlocked"></i>
<i class="icon icon--wrench"></i>
<i class="icon icon--equalizer"></i>
<i class="icon icon--cog"></i>
<i class="icon icon--bug"></i>
<i class="icon icon--crown"></i>
<i class="icon icon--trophy"></i>
<i class="icon icon--gift"></i>
<i class="icon icon--spoon-knife"></i>
<i class="icon icon--bin"></i>
<i class="icon icon--list"></i>
<i class="icon icon--grid"></i>
<i class="icon icon--grid-2"></i>
<i class="icon icon--download"></i>
<i class="icon icon--upload"></i>
<i class="icon icon--link"></i>
<i class="icon icon--unlink"></i>
<i class="icon icon--eye"></i>
<i class="icon icon--star-empty"></i>
<i class="icon icon--star-full"></i>
<i class="icon icon--heart-full"></i>
<i class="icon icon--heart-empty"></i>
<i class="icon icon--drag-left-right"></i>
<i class="icon icon--drag-left"></i>
<i class="icon icon--drag-right"></i>
<i class="icon icon--plus"></i>
<i class="icon icon--minus"></i>
<i class="icon icon--cross"></i>
<i class="icon icon--checkmark"></i>
<i class="icon icon--play"></i>
<i class="icon icon--pause"></i>
<i class="icon icon--stop"></i>
<i class="icon icon--volume-high"></i>
<i class="icon icon--volume-mute"></i>
<i class="icon icon--arrow-up"></i>
<i class="icon icon--arrow-right"></i>
<i class="icon icon--arrow-down"></i>
<i class="icon icon--arrow-left"></i>
<i class="icon icon--arrow-up8"></i>
<i class="icon icon--arrow-right8"></i>
<i class="icon icon--arrow-down8"></i>
<i class="icon icon--arrow-left8"></i>
<i class="icon icon--radio-checked"></i>
<i class="icon icon--radio-unchecked"></i>
<i class="icon icon--google"></i>
<i class="icon icon--google-plus"></i>
<i class="icon icon--google-drive"></i>
<i class="icon icon--facebook"></i>
<i class="icon icon--instagram"></i>
<i class="icon icon--whatsapp"></i>
<i class="icon icon--twitter"></i>
<i class="icon icon--rss"></i>
<i class="icon icon--youtube"></i>
<i class="icon icon--vimeo"></i>
<i class="icon icon--flickr"></i>
<i class="icon icon--dropbox"></i>
<i class="icon icon--skype"></i>
<i class="icon icon--linkedin"></i>
<i class="icon icon--pinterest"></i>
<i class="icon icon--paypal"></i>
