<span class="icon-circle"><i class="icon icon--home"></i></span>
<span class="icon-circle"><i class="icon icon--pencil"></i></span>
<span class="icon-circle"><i class="icon icon--brush"></i></span>
<span class="icon-circle"><i class="icon icon--camera"></i></span>
<span class="icon-circle"><i class="icon icon--music"></i></span>
<span class="icon-circle"><i class="icon icon--mic"></i></span>
<span class="icon-circle"><i class="icon icon--book"></i></span>
<span class="icon-circle"><i class="icon icon--reading"></i></span>
<span class="icon-circle"><i class="icon icon--library"></i></span>
<span class="icon-circle"><i class="icon icon--file-download"></i></span>
<span class="icon-circle"><i class="icon icon--price-tag"></i></span>
<span class="icon-circle"><i class="icon icon--theater"></i></span>
<span class="icon-circle"><i class="icon icon--cart"></i></span>
<span class="icon-circle"><i class="icon icon--cart-2"></i></span>
<span class="icon-circle"><i class="icon icon--phone"></i></span>
<span class="icon-circle"><i class="icon icon--phone2"></i></span>
<span class="icon-circle"><i class="icon icon--at-sign"></i></span>
<span class="icon-circle"><i class="icon icon--envelop"></i></span>
<span class="icon-circle"><i class="icon icon--pushpin"></i></span>
<span class="icon-circle"><i class="icon icon--location"></i></span>
<span class="icon-circle"><i class="icon icon--printer"></i></span>
<span class="icon-circle"><i class="icon icon--box"></i></span>
<span class="icon-circle"><i class="icon icon--undo"></i></span>
<span class="icon-circle"><i class="icon icon--redo"></i></span>
<span class="icon-circle"><i class="icon icon--bubbles4"></i></span>
<span class="icon-circle"><i class="icon icon--user"></i></span>
<span class="icon-circle"><i class="icon icon--user-2"></i></span>
<span class="icon-circle"><i class="icon icon--search"></i></span>
<span class="icon-circle"><i class="icon icon--zoom-in"></i></span>
<span class="icon-circle"><i class="icon icon--zoom-out"></i></span>
<span class="icon-circle"><i class="icon icon--enlarge"></i></span>
<span class="icon-circle"><i class="icon icon--shrink"></i></span>
<span class="icon-circle"><i class="icon icon--key"></i></span>
<span class="icon-circle"><i class="icon icon--lock"></i></span>
<span class="icon-circle"><i class="icon icon--unlocked"></i></span>
<span class="icon-circle"><i class="icon icon--wrench"></i></span>
<span class="icon-circle"><i class="icon icon--equalizer"></i></span>
<span class="icon-circle"><i class="icon icon--cog"></i></span>
<span class="icon-circle"><i class="icon icon--bug"></i></span>
<span class="icon-circle"><i class="icon icon--crown"></i></span>
<span class="icon-circle"><i class="icon icon--trophy"></i></span>
<span class="icon-circle"><i class="icon icon--gift"></i></span>
<span class="icon-circle"><i class="icon icon--spoon-knife"></i></span>
<span class="icon-circle"><i class="icon icon--bin"></i></span>
<span class="icon-circle"><i class="icon icon--list"></i></span>
<span class="icon-circle"><i class="icon icon--grid"></i></span>
<span class="icon-circle"><i class="icon icon--grid-2"></i></span>
<span class="icon-circle"><i class="icon icon--download"></i></span>
<span class="icon-circle"><i class="icon icon--upload"></i></span>
<span class="icon-circle"><i class="icon icon--link"></i></span>
<span class="icon-circle"><i class="icon icon--unlink"></i></span>
<span class="icon-circle"><i class="icon icon--eye"></i></span>
<span class="icon-circle"><i class="icon icon--star-empty"></i></span>
<span class="icon-circle"><i class="icon icon--star-full"></i></span>
<span class="icon-circle"><i class="icon icon--heart-full"></i></span>
<span class="icon-circle"><i class="icon icon--heart-empty"></i></span>
<span class="icon-circle"><i class="icon icon--drag-left-right"></i></span>
<span class="icon-circle"><i class="icon icon--drag-left"></i></span>
<span class="icon-circle"><i class="icon icon--drag-right"></i></span>
<span class="icon-circle"><i class="icon icon--plus"></i></span>
<span class="icon-circle"><i class="icon icon--minus"></i></span>
<span class="icon-circle"><i class="icon icon--cross"></i></span>
<span class="icon-circle"><i class="icon icon--checkmark"></i></span>
<span class="icon-circle"><i class="icon icon--play"></i></span>
<span class="icon-circle"><i class="icon icon--pause"></i></span>
<span class="icon-circle"><i class="icon icon--stop"></i></span>
<span class="icon-circle"><i class="icon icon--volume-high"></i></span>
<span class="icon-circle"><i class="icon icon--volume-mute"></i></span>
<span class="icon-circle"><i class="icon icon--arrow-up"></i></span>
<span class="icon-circle"><i class="icon icon--arrow-right"></i></span>
<span class="icon-circle"><i class="icon icon--arrow-down"></i></span>
<span class="icon-circle"><i class="icon icon--arrow-left"></i></span>
<span class="icon-circle"><i class="icon icon--arrow-up8"></i></span>
<span class="icon-circle"><i class="icon icon--arrow-right8"></i></span>
<span class="icon-circle"><i class="icon icon--arrow-down8"></i></span>
<span class="icon-circle"><i class="icon icon--arrow-left8"></i></span>
<span class="icon-circle"><i class="icon icon--radio-checked"></i></span>
<span class="icon-circle"><i class="icon icon--radio-unchecked"></i></span>
<span class="icon-circle"><i class="icon icon--google"></i></span>
<span class="icon-circle"><i class="icon icon--google-plus"></i></span>
<span class="icon-circle"><i class="icon icon--google-drive"></i></span>
<span class="icon-circle"><i class="icon icon--facebook"></i></span>
<span class="icon-circle"><i class="icon icon--instagram"></i></span>
<span class="icon-circle"><i class="icon icon--whatsapp"></i></span>
<span class="icon-circle"><i class="icon icon--twitter"></i></span>
<span class="icon-circle"><i class="icon icon--rss"></i></span>
<span class="icon-circle"><i class="icon icon--youtube"></i></span>
<span class="icon-circle"><i class="icon icon--vimeo"></i></span>
<span class="icon-circle"><i class="icon icon--flickr"></i></span>
<span class="icon-circle"><i class="icon icon--dropbox"></i></span>
<span class="icon-circle"><i class="icon icon--skype"></i></span>
<span class="icon-circle"><i class="icon icon--linkedin"></i></span>
<span class="icon-circle"><i class="icon icon--pinterest"></i></span>
<span class="icon-circle"><i class="icon icon--paypal"></i></span>
<span class="icon-circle"><i class="icon icon--calendar"></i></span>
<span class="icon-circle"><i class="icon icon--clipboard"></i></span>
<span class="icon-circle"><i class="icon icon--piggy-bank"></i></span>
<span class="icon-circle"><i class="icon icon--coin-dollar"></i></span>
<span class="icon-circle"><i class="icon icon--badge"></i></span>
<span class="icon-circle"><i class="icon icon--mac"></i></span>
<span class="icon-circle"><i class="icon icon--apple"></i></span>
<span class="icon-circle"><i class="icon icon--github"></i></span>
<span class="icon-circle"><i class="icon icon--bookmark"></i></span>
