.main-container {
  position: relative;
  background-color: #fff;
}

.header__main,
.header__aside,
.main-container,
.footer {
  transition: transform .5s ease;
}

body.menu-toggle {
  .header__main,
  .main-container,
  .footer {
    transform: translateX(-@header-aside-width-mobile);
  }

  .header__aside {
    transform: translateX(0);
  }

  .header.set-toggle-style();

  @media (min-width: @screen-sm-min) {
    .header__main,
    .main-container,
    .footer {
      transform: translateX(-@header-aside-width-base);
    }
  }
}
