.post {
  position: relative;

  &__header {
    font-size: @font-size-large-mobile;
    margin-bottom: @section-margin-mobile;

    &__inner {
      .container-fluid();
      padding-top: floor(@section-margin-mobile / 4);

      > * {
        margin-top: 0;
        margin-bottom: 0;

        + * {
          margin-top: 26px;
        }
      }
    }
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

    &__wrapper {
      .container-fluid();
      position: relative;
    }

    &__inner > * {
      margin-top: 0;
      margin-bottom: 0;

      + * {
        margin-top: 25px;
      }
    }
  }

  &__sharer {
    .container-fluid();
    position: relative;
    z-index: 2;
    text-align: center;

    .sharer {
      margin-bottom: floor(@line-height-computed-mobile * 2);
    }
  }

  &__body .section:first-child {
    margin-top: 0;
  }

  &__body--offsets {
    .section[data-type="text"],
    .section[data-type="preview"] {
      .container-fluid();
    }
  }

  .section {
    // background-color: @body-bg;

    &--aside {
      z-index: 10;
    }

    &[data-type="image"],
    &[data-type="media"],
    &[data-type="carousel"],
    &[data-type="map"],
    &[data-type="list"] {
      position: relative;
      z-index: 2;
    }
  }

  @media (max-width: @screen-xs-max) {
    &__header__inner {
      padding-left: @grid-gutter-width;
      padding-right: @grid-gutter-width;
    }
  }

  @media (max-width: @screen-sm-max) {
    &__sharer .sharer {
      position: relative !important;
    }
  }

  @media (min-width: @screen-md-min) {
    margin-top: (@section-margin * 2);

    &__header {
      font-size: @font-size-large;
      margin-bottom: @section-margin;

      &__wrapper {
        .container-fluid();
        position: relative;
      }

      &__inner {
        .make-md-column(6);
        .make-md-column-offset(4);
        position: static !important;
        float: none !important;
        padding-left: 0;
        padding-right: 0;

        > * + * {
          margin-top: 52px;
        }
      }
    }

    &__aside {
      display: block;

      &__inner {
        .make-md-column(3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    &__sharer {
      .sharer {
        position: absolute;
        top: 0;
        right: floor(@grid-gutter-width / 2);

        &.affix {
          position: fixed !important;
          z-index: 4;
          bottom: 100px;
          top: auto;
          margin-right: 20px;
          right: 0;
        }
      }
    }

    &__body--offsets {
      .section[data-type="text"],
      .section[data-type="preview"] {
        .section__wrapper {
          .make-md-column(6);
          .make-md-column-offset(4);
          position: static !important;
          float: none !important;
          padding-left: 0;
          padding-right: 0;
        }
      }

      .section[data-type="text"] {
        .section__wrapper {
          .make-md-column-offset(4.5);
        }
      }

      .section[data-type="preview"] {
        .section__wrapper {
          .make-md-column(7);
          padding-left: 0;
          padding-right: 0;

          .preview__description {
            .make-md-column(3);
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }

  @media (min-width: 1380px) {
    &__sharer {
      .sharer.affix {
        margin-right: (-690px + (40px / 2));
        right: 50%;
      }
    }
  }
}

.page-header + .post {
  margin-top: 0;

  .post__aside {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
  }

  .post__header {
    h1,
    h2,
    h3 {
      display: none;
    }
  }

  @media (min-width: @screen-md-min) {
    .post__header {
      position: relative;
      margin-top: -110px;
      overflow: hidden;
      z-index: 1;

      &__wrapper {
        &:before {
          position: absolute;
          content: '';
          background-color: #fff;
          width: 9999px;
          top: 0;
          left: floor(100% / 4);
          margin-left: floor(-@grid-gutter-width / 2);
          bottom: 0;
          content: '';
          z-index: -1;
        }
      }

      &__inner {
        padding-top: 26px;
      }
    }
  }
}
