<div class="jumbotron-carousel">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#jumbotron-carousel}}
        <div class="swiper-slide">
          {{>molecules-jumbotron:has-background}}
        </div>
      {{/jumbotron-carousel}}
    </div>
  </div>
</div>
