{{#nav-group }}
<div class="nav-group">
  <a href="{{ head.href }}" class="nav-group__head">{{ head.text }}</a>
  <ul class="nav-group__list">
    {{#list}}
      <li><a href="{{ href }}">{{ text }}</a></li>
    {{/list}}
  </ul>
</div>
{{/nav-group }}
