{{#is_span}}<span class="button-icon">{{/is_span}}
{{^is_span}}<a href="{{ button-icon.href }}" class="button-icon">{{/is_span}}
  <span><i class="icon icon--{{ button-icon.icon }}"></i></span>
  {{ button-icon.text }}
{{#is_span}}</span>{{/is_span}}
{{^is_span}}</a>{{/is_span}}
