  <section class="section {{ styleModifier }}" data-type="preview">
    <div class="section__wrapper">
      {{#section-preview}}
        {{>molecules-preview}}
      {{/section-preview}}
    </div>
  </section>
