<section class="section section--full" data-type="image">
  <div class="section__wrapper">
    <figure>
      {{>atoms-img-fullscreen}}
      <figcaption><span>{{{ caption }}}</span></figcaption>
    </figure>
  </div>
</section>
