<section class="section section--full" data-type="image">
  <div class="section__wrapper">
    <figure>
      {{#section-image}}
        {{>atoms-img-fullscreen}}
        <figcaption><span>{{{ caption }}}</span></figcaption>
      {{/section-image}}
    </figure>
  </div>
</section>
