  <section class="section {{ styleModifier }}" data-type="carousel">
    <div class="section__wrapper">
      {{#section-card-carousel}}
        {{> organisms-card-carousel }}
      {{/section-card-carousel}}
    </div>
  </section>
