  <section class="section {{ styleModifier }}" data-type="carousel">
    <div class="section__wrapper">
      {{#section-product-carousel}}
        {{> organisms-product-carousel }}
      {{/section-product-carousel}}
    </div>
  </section>
