<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title>{{ title }}</title>

  {{! Dependencies loaded from CDN }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" crossorigin="anonymous">

  {{! Distribution style }}
  <link rel="stylesheet" href="../../css/style.min.css?{{ cacheBuster }}" media="all">

  <script type="text/javascript" src="../../js/vendors-top.min.js?{{ cacheBuster }}"></script>


  <!-- do not add all the followings in production -->

  <link rel="stylesheet" href="../../css/styleguide-scaffolding.css?{{ cacheBuster }}" media="all">

  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {{{ patternLabHead }}}
  <!-- End Pattern Lab -->

</head>
<body class="{{ bodyClass }}">
