  <script type="text/javascript" src="../../js/vendors-bottom.min.js"></script>
  <script type="text/javascript" src="../../js/scripts.min.js"></script>

  <!-- do not add all the followings in production -->

  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {{{ patternLabFoot }}}
  <!-- End Pattern Lab -->

  </body>
</html>
